<div class="container">
  <table class="table table-light table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Denominación</th>
        <th scope="col">Sitio Web</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas | async ">
        <td>
          {{empresa.id}}
        </td>
        <td>
          {{empresa.denominacion}}
        </td>
        <td>
          <a href="/home/{{empresa.id}}">Sitio Web</a>
        </td>
      </tr>

    </tbody>
  </table>
  <a href="post"><button class="btn btn-primary btn-lg" role="button">Crear noticia</button></a>

</div>
