<div class="page">

  <form>
    <nav class="navbar navbar-light navbar-expand-lg d-flex justify-content-around" style="background-color: #e3f2fd;">
      <div class="form-group form-inline mt-3 ml-4">
        <input class="form-control ml-2" type="text" name="searchTerm" autocomplete="off" placeholder="Buscador"
          [(ngModel)]="service.searchTerm" />
        <span class="ml-3" *ngIf="service.loading$ | async">Cargando...</span>
      </div>
      <div>

        <ul class="navbar-nav">

          <li class="nav-item">
            <a [routerLink]="['/']">
              <button class="btn btn-primary btn-sm mr-4" role="button">Directorio</button>
            </a>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <table class="table table-striped">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">Titulo</th>
            <th scope="col" sortable="area" (sort)="onSort($event)">Fecha</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">idEmpresa</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let noticia of noticias$ | async">
            <th scope="row">{{ noticia.id }}</th>
            <td>
              <img [src]="noticia.imagen" class="mr-2" style="width: 20px">
              <ngb-highlight [result]="noticia.titulo" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="noticia.fecha" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="noticia.idEmpresa" [term]="service.searchTerm"></ngb-highlight>
            </td>
          </tr>
        </tbody>

      </table>
    </div>



    <div class="d-flex justify-content-around p-2">

      <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="2">2 Noticias por pagina</option>
        <option [ngValue]="4">4 Noticias por pagina</option>
        <option [ngValue]="6">6 Noticias por pagina</option>
      </select>

    </div>

  </form>

</div>
